<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <!-- Designed for simplicity rather than efficiency.  Thus:
       - Every upgrade is a Major Upgrade
       - RemoveExistingProducts is scheduled early so we don't have to test
         for obscure consequences of component rule violations.
   -->

  <Product
      Name='VMNetX $(var.Version)'
      Version='$(var.Version)'
      Id='*'
      UpgradeCode='F4A9E99F-24ED-41C4-BDC9-5E0398205692'
      Language='1033' Codepage='1252'
      Manufacturer='Olive Executable Archive'>

    <Package
        Description='Virtual machine network execution'
        Comments='This package installs the VMNetX client software.'
        Manufacturer='Olive Executable Archive'
        InstallerVersion='100'
        Languages='1033' SummaryCodepage='1252'
        Compressed='yes'/>

    <Condition Message="VMNetX requires Windows 7 or better.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <Icon Id="icon" SourceFile="vmnetx.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon" />
    <Property Id="ARPURLINFOABOUT" Value="https://olivearchive.org/" />

    <UIRef Id='UI_WelcomeOnly'/>
    <Property Id='WIXUI_EXITDIALOGOPTIONALTEXT'
        Value='VMNetX was successfully installed.'/>

    <Media Id='1' Cabinet='vmnetx.cab' EmbedCab='yes'/>

    <Feature Id='Main'>
      <ComponentGroupRef Id='FileComponents'/>
      <ComponentGroupRef Id='RegistryComponents'/>
    </Feature>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLDIR' Name='VMNetX'/>
      </Directory>
    </Directory>

    <!-- AllowSameVersionUpgrades="yes" prevents different builds with the
         same version number from being installed at the same time (since
         we generate a new ProductId on every build) -->
    <MajorUpgrade
        AllowSameVersionUpgrades="yes"
        DowngradeErrorMessage="A newer version of VMNetX is already installed on your system."/>

    <ComponentGroup Id='RegistryComponents'>
      <Component Id='reference_handler'
          Directory='TARGETDIR'
          Guid='968311AE-4530-4BB7-ACC6-3B8D843A5023'>
        <ProgId Id='VMNetX.Reference.0'
            Description='VMNetX virtual machine'
            Icon='f_vmnetx.exe'
            Advertise='no'>
          <Extension Id='netx'>
            <MIME
                ContentType='application/x-vmnetx-reference+xml'
                Default='yes'/>
            <Verb Id='launch'
                Command='&amp;Launch'
                Argument='"%1"'
                TargetFile='f_vmnetx.exe'/>
          </Extension>
        </ProgId>
      </Component>
      <Component Id='package_handler'
          Directory='TARGETDIR'
          Guid='A9BBBE2B-A281-4F9D-9B5F-E64A60E9C241'>
        <ProgId Id='VMNetX.Package.0'
            Description='VMNetX virtual machine package'
            Icon='f_vmnetx.exe'
            Advertise='no'>
          <Extension Id='nxpk'>
            <MIME
               ContentType='application/x-vmnetx-package'
               Default='yes'/>
            <Verb Id='launch'
                Command='&amp;Launch'
                Argument='"%1"'
                TargetFile='f_vmnetx.exe'/>
          </Extension>
        </ProgId>
      </Component>
    </ComponentGroup>

    <?include components.wxi?>

  </Product>

  <?include ui.wxi?>

</Wix>
