[Unit]
Description=Coda Update Slave Server

[Service]
Type=forking
PIDFile=/vice/misc/updateclnt.pid
ExecStart=/usr/sbin/updateclnt

[Install]
WantedBy=multi-user.target
