Source: coda
Section: net
Priority: extra
Maintainer: Jan Harkes <jaharkes@cs.cmu.edu>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9), dh-python, libreadline-dev, libncurses5-dev,
 liblua5.1-0-dev, flex, bison, pkg-config, python, automake

Package: coda-common
Architecture: amd64 arm i386 m68k powerpc sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: coda-server (<= 6.9.5)
Homepage: http://coda.cs.cmu.edu/
Description: Common libraries for the Coda distributed file system
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the LWP, RPC2 and RVM libraries used by Coda client
 and server binaries.

Package: coda-client
Architecture: linux-any
Depends: coda-common (= ${binary:Version}), ${shlibs:Depends}, ${python:Depends}, ${perl:Depends}, ${misc:Depends}
Suggests: python-gtk2
Pre-Depends: debconf (>= 0.2.17)
Homepage: http://coda.cs.cmu.edu/
Description: Client for the Coda distributed file system
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the userspace binaries to run a Coda client. You might
 also need to recompile a linux kernel to include a kernel module for Coda.

Package: coda-server
Architecture: any
Depends: coda-common (= ${binary:Version}), coda-update (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: rvm-tools
Homepage: http://coda.cs.cmu.edu/
Description: Server for the Coda distributed file system
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the binaries to set up a Coda server.

Package: coda-update
Architecture: any
Depends: coda-common (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Homepage: http://coda.cs.cmu.edu/
Description: Server for the Coda distributed file system
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the update daemons needed on both the Coda servers and
 the Coda backup client.

Package: coda-backup
Architecture: any
Depends: coda-common (= ${binary:Version}), coda-update (= ${binary:Version}), ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}
Homepage: http://coda.cs.cmu.edu/
Description: Backup client for the Coda distributed filesystem
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the binaries to set up a backup client to back up Coda
 servers.

Package: coda-dbgsym
Architecture: any
Section: debug
Priority: extra
Depends: coda-common (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for the Coda distributed filesystem
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides debugging symbols for Coda binaries.
