Source: vmnetx
Section: net
Priority: extra
Maintainer: Benjamin Gilbert <bgilbert@cs.cmu.edu>
Build-Depends: debhelper (>= 8.0.0), python, dh-autoreconf,
 libcurl4-gnutls-dev, libfuse-dev, libglib2.0-dev,
 pkg-config, autoconf, automake, libtool, libxml2-dev,
 python-dev
Standards-Version: 3.9.4
Homepage: https://github.com/cmusatyalab/vmnetx
Vcs-Git: git://github.com/cmusatyalab/vmnetx-packaging.git
Vcs-Browser: https://github.com/cmusatyalab/vmnetx-packaging

Package: vmnetx
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
 ${python:Depends}, qemu-kvm, fuse | fuse-utils,
 libvirt-bin, python-gtk2, python-gtk-vnc,
 python-requests, python-dateutil, python-libvirt,
 python-selinux, python-lxml
Description: Virtual machine network execution
 VMNetX allows you to execute a KVM virtual machine over the Internet
 without downloading all of its data to your computer in advance.
