#!/usr/bin/make -f
%:
	dh $@ --with python2

override_dh_auto_configure:
	dh_auto_configure -- --with-lua --libdir=$$(prefix)/usr/lib/coda

override_dh_auto_install:
	dh_auto_install

	mkdir -p "`pwd`/debian/tmp/coda"
	touch "`pwd`/debian/tmp/coda/NOT_REALLY_CODA"

	# Change coda-client-setup to run dpkg-reconfigure
	echo -e '#!/bin/sh\nset -e\necho "Starting \"dpkg-reconfigure coda-client\""\ndpkg-reconfigure coda-client' > "`pwd`/debian/tmp/usr/sbin/coda-client-setup"
	chmod 755 "`pwd`/debian/tmp/usr/sbin/coda-client-setup"
